<a href="https://colab.research.google.com/github/songdh1104/AIPYTHON/blob/main/250328.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# 문제 3: 두 수 비교하기
num1_str = input("첫 번째 정수를 입력하세요: ")
num2_str = input("두 번째 정수를 입력하세요: ")
try:
    num1 = int(num1_str)
    num2 = int(num2_str)
    if num1 > num2:
        print(f"{num1}은(는) {num2}보다 큽니다.")
    elif num1 < num2:
        print(f"{num1}은(는) {num2}보다 작습니다.")
    else:
        print(f"{num1}과(와) {num2}은(는) 같습니다.")
except ValueError:
    print("유효한 정수를 입력하세요.")

첫 번째 정수를 입력하세요: 4
두 번째 정수를 입력하세요: 6
4은(는) 6보다 작습니다.

In [7]:
# 문제 3: 두 수 비교하기
num1_str = input("첫 번째 정수를 입력하세요: ")
num2_str = input("두 번째 정수를 입력하세요: ")

num1 = int(num1_str)
num2 = int(num2_str)
if num1 > num2:
    print(f"{num1}은(는) {num2}보다 큽니다.")
elif num1 < num2: # Corrected indentation for elif block
    print(f"{num1}은(는) {num2}보다 작습니다.")
else: # Corrected indentation for else block
    print(f"{num1}과(와) {num2}은(는) 같습니다.")

첫 번째 정수를 입력하세요: 5
두 번째 정수를 입력하세요: 36
5은(는) 36보다 작습니다.

In [19]:
# 문제: 세 수 중 가장 큰 수 찾기

try:
    num1= int(input("첫 번째 정수를 입력하세요: "))
    print(f"첫 번째 수: {num1}")

    num2= int(input("두 번째 정수를 입력하세요: "))
    print(f"두 번째 수: {num2}")

    num3= int(input("세 번째 정수를 입력하세요: "))
    print(f"세 번째 수: {num3}")

    max_num = num1 # 처음에는 num1이 가장 크다고 가정

    if num2 > max_num:
        print(f"두 번째 수 {num2}가 현재 최대값 {max_num}보다 큽니다. 최대값을 업데이트합니다.")
        max_num = num2
    else:
        print(f"두 번째 수 {num2}는 현재 최대값 {max_num}보다 크지 않습니다.")

    if num3 > max_num:
        print(f"세 번째 수 {num3}가 현재 최대값 {max_num}보다 큽니다. 최대값을 업데이트합니다.")
        max_num = num3
    else:
        print(f"세 번째 수 {num3}는 현재 최대값 {max_num}보다 크지 않습니다.")
    print(f"]입력하신 세 수 {num1}, {num2}, {num3} 중에서 가장 큰 수는 {max_num}입니다.")
except ValueError:
    print("유효한 정수를 입력해주세요.")

첫 번째 정수를 입력하세요: 6
첫 번째 수: 6
두 번째 정수를 입력하세요: 5
두 번째 수: 5
세 번째 정수를 입력하세요: 4
세 번째 수: 4
두 번째 수 5는 현재 최대값 6보다 크지 않습니다.
세 번째 수 4는 현재 최대값 6보다 크지 않습니다.
]입력하신 세 수 6, 5, 4 중에서 가장 큰 수는 6입니다.

In [36]:
#학점판별
score= float(input("점수(0~100)"))
try:
  if 0 <= score <= 100:

    if score >= 90:
      print("A")
    elif score >= 80:
        print("B")
    elif score >= 70:
      print("C")
    else:
      print("F")
  else:
        print("숫자 입력이 올바르지 않음.")

except ValueError:
      print("올바른 점수를 입력하세요")

점수(0~100)491365
숫자 입력이 올바르지 않음.

In [29]:
#윤년 판별
year= int(input("연도 입력"))
try:
    if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
        print(f"{year}년은 윤년.")
    else:
        print(f"{year}년은 평년.")
except ValueError:
    print("유효한 정수를 입력.")

연도 입력5496
5496년은 윤년.

In [42]:
for i in range(1, 6): # 0~4까지 반복
 print("반복!", i)

반복! 1
반복! 2
반복! 3
반복! 4
반복! 5

In [52]:
# 1부터 N까지의 합 계산하기
n = int(input('숫자 입력 : '))

try:
  if n <= 0:
    print('숫자는 양의 정수이어야 함.')

  else:
    total =0

  for i in range(1, n+1):
    total+= i

    print(f" 숫자 {n}까지의 합은 {total}임.")


except ValueError:
  print("유효한 정수를 입력할 것.")

숫자 입력 : 10
 숫자 10까지의 합은 1임.
 숫자 10까지의 합은 3임.
 숫자 10까지의 합은 6임.
 숫자 10까지의 합은 10임.
 숫자 10까지의 합은 15임.
 숫자 10까지의 합은 21임.
 숫자 10까지의 합은 28임.
 숫자 10까지의 합은 36임.
 숫자 10까지의 합은 45임.
 숫자 10까지의 합은 55임.

In [58]:
#특정 조건까지 반복하기 (while 루프)
count = 0
n = int(input("숫자를 어디까지로 할 것인가?:")) # Change print() to input() to get user input
while count < n+1:
  print(count)
  count += 1
print("종료")

숫자를 어디까지로 할 것인가?:3
0
1
2
3
종료

In [59]:
# 특정 조건까지 반복하기 (for 루프)
n = int(input("숫자를 어디까지로 할 것인가?:"))

for count in range(0, n + 1):
    print(count)

print("종료")

숫자를 어디까지로 할 것인가?:5
0
1
2
3
4
5
종료