In [ ]:
while True:
  try:
    a, b = map(int, input("A와 B의 입력을 공백으로 구분하여 입력하세요 (1: 가위, 2: 바위, 3: 보): ").split())
    if a in [1, 2, 3] and b in [1, 2, 3]:
      break
    else:
      print("잘못된 입력입니다. 1, 2, 3 중에서 선택하세요.")
  except ValueError:
    print("잘못된 입력입니다. 숫자를 입력하세요.")

if a == b:
  print("무승부")
elif (a == 1 and b == 3) or (a == 2 and b == 1) or (a == 3 and b == 2):
  print("A승B패")
else:
  print("B승A패")

A와 B의 입력을 공백으로 구분하여 입력하세요 (1: 가위, 2: 바위, 3: 보): 2
잘못된 입력입니다. 숫자를 입력하세요.
A와 B의 입력을 공백으로 구분하여 입력하세요 (1: 가위, 2: 바위, 3: 보): 1
잘못된 입력입니다. 숫자를 입력하세요.
A와 B의 입력을 공백으로 구분하여 입력하세요 (1: 가위, 2: 바위, 3: 보): 3
잘못된 입력입니다. 숫자를 입력하세요.
A와 B의 입력을 공백으로 구분하여 입력하세요 (1: 가위, 2: 바위, 3: 보): 1
잘못된 입력입니다. 숫자를 입력하세요.
A와 B의 입력을 공백으로 구분하여 입력하세요 (1: 가위, 2: 바위, 3: 보): 2
잘못된 입력입니다. 숫자를 입력하세요.
A와 B의 입력을 공백으로 구분하여 입력하세요 (1: 가위, 2: 바위, 3: 보): 1
잘못된 입력입니다. 숫자를 입력하세요.
A와 B의 입력을 공백으로 구분하여 입력하세요 (1: 가위, 2: 바위, 3: 보): 2
잘못된 입력입니다. 숫자를 입력하세요.
A와 B의 입력을 공백으로 구분하여 입력하세요 (1: 가위, 2: 바위, 3: 보): 1 3
A승B패

In [ ]:
#홀수짝수 구분

 number = int(input("숫자를 입력하세요: "))

 if number % 2 == 0:
    return "짝수"
  else:
    return "홀수"

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 7)

In [ ]:
num=int(input('숫자를 입력'))
if num==1 or num==2 or num==3:
  print(true)

else:
  print(false)

숫자를 입력6

NameError: name 'false' is not defined

In [ ]:
a,b =map(int(input().split()))

1 5