<a href="https://colab.research.google.com/github/songdh1104/AIPYTHON/blob/main/%EB%8D%B0%EC%9D%B4%ED%84%B0%EC%A0%84%EC%B2%98%EB%A6%AC_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Pandas를 이용한 분석을 하세요.
import pandas as pd
# 1. 데이터 로드
df = pd.read_csv('/content/mpg.csv')


print(df.shape)  # 관측치와 속성 수
print(df.select_dtypes('object').shape[1])  # 문자열 속성 개수(숫자형은 number)
print(df.isnull().any().sum())  # 결측치 있는 열 개수

print(df['year'].min(), df['year'].max())  # 제조년도 최소/최대
print(df['hwy'].mean(), df['hwy'].max(), df['hwy'].min())  # 고속도로 연비 평균/최대/최소

print(df['manufacturer'].nunique(), df['manufacturer'].value_counts().idxmax())  # 제조사 개수/최다제조사

(234, 11)
6
0
1999 2008
23.44017094017094 44 12
15 dodge

In [ ]:
import pandas as pd
df = pd.read_csv('/content/tips.csv')

# 1
print(df.shape)

# 2
print(df.select_dtypes('object').shape[1])

# 3
print(df.isnull().any().sum())

# 4
print(df['total_bill'].max(), df['total_bill'].min())

# 5
print(df['total_bill'].mean())

# 6
print(df['size'].max())

(244, 7)
4
0
50.81 3.07
19.78594262295082
6

In [ ]:
stu_point = [80, 60, 70, 50, 90]
print(max(stu_point))
print(min(stu_point))
print((sum(stu_point)/len(stu_point)))

90
50
70.0

In [ ]:
import pandas as pd
import numpy as np
df = pd.read_csv('/content/03_std_data.csv', encoding='cp949')
df.head()
df['total'] = df['MIS'] + df['영어'] + df['통계'] + df['파이썬'] + df['파워Query']
df['avg'] = df['total']/5
df = df.rename(columns={'avg':'평균'})
df = df.rename(columns={'total':'총점'})
df.head

df['grade'] = np.where(df['평균'] >= 80, 'pass', 'fail')
df['grade'].value_counts()


con = [
    df['평균'] >= 80,
    df['평균'] >= 70,
    df['평균'] < 70
]

cho = ['Pass','Retry','Fail']

df['grade'] = np.select(con, cho)

In [ ]:
import pandas as pd
import numpy as np
try:
    df = pd.read_csv('/content/기상개황_20250701121903.csv', encoding = 'utf-8', skiprows=1, header=1)
except UnicodeDecodeError:
    df = pd.read_csv('/content/기상개황_20250701121903.csv', encoding = 'cp949', skiprows=1, header=1)

df.head()
df_sub = df[['월별', '기온 > 평균', '상대습도 > 평균']]
df_sub.head()

df_sub.columns = ['월별', '기온', '습도']
df_sub.head()

df_sub['불쾌지수'] =  0.81 * df_sub['기온'] + 0.01 * df_sub['습도'] * (0.99 * df_sub['기온'] - 14.3) + 46.3
df_sub.head()


df_sub["DI_level"] = [df_sub['불쾌지수'] >= 80,
          df_sub['불쾌지수']  >= 75,
          df_sub['불쾌지수']  >= 68,
          df_sub['불쾌지수']  < 68
            ]
cho = ['매우 높음','높음','보통','낮음']

df_sub['불쾌지수'] = np.select(df_sub["DI_level"], cho)

In [ ]:
import pandas as pd

df = pd.read_csv('C:/Users/user/Downloads/03-1_파이썬 데이터프레임/mpg.csv')


df.head()

# 1. mpg 데이터 복사본을 만들고, cty와 hwy를 더한 ‘합산 연비’ 변수를 추가하세요.
df['합산연비'] = df['cty'] + df['hwy']

# 2. 앞에서 만든‘합산연비변수’를2로나눠‘평균연비’변수를 추가하세요.
df['평균연비'] = df['합산연비']/2

# 3. ‘평균 연비’ 변수가 가장 높은 자동차 3종의 데이터를 출력하세요.
df.sort_values(by = '평균연비', ascending=False).head(3)

In [ ]:
import pandas as pd
import numpy as np

df = pd.read_csv('/content/midwest.csv')

# 1단계
print(df.head())

# • 단계2. poptotal(전체 인구) 변수를 total로, popasian(아시아 인구) 변수를asian으로 수정하자.
df = df.rename(columns={'poptotal':'total'})
df = df.rename(columns={'popasian':'asian'})

# • 단계3. total, asian 변수를 이용해 ‘전체 인구 대비 아시아 인구 백분율’(ratio) 파생변수를 추가하고, 히스토그램을 만들어 분포를 살펴보자.
# asian / total * 100
df['ratio'] = df['asian'] / df['total'] * 100

# • 단계4. 아시아인구백분율(ratio) 의 값이 0.5를 초과하면 ＇large＇, 그외에는＇small＇을 부여한파생변수(grade)를 만들어추가하자.
df['grade'] = np.where(df['ratio'] >= 0.5, 'large', 'small')

# • 단계5. 'large'와 'small'에 해당하는 지역이 얼마나 많은지 빈도표로 만들어확인하자
df['grade'].value_counts()

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

# 데이터셋 로드
iris = sns.load_dataset("iris")

# 히스토그램
plt.figure(figsize=(8,6))
sns.histplot(iris['sepal_length'], bins=15, kde=True)
plt.title('히스토그램 (Sepal Length)')
#%%
# 박스 플롯
plt.figure(figsize=(8,6))
sns.boxplot(x='species', y='sepal_length', data=iris)
plt.title('박스플롯 (Sepal Length)')
#%%
# 바이올린 플롯
plt.figure(figsize=(8,6))
sns.violinplot(x='species', y='sepal_length', data=iris)
plt.title('바이올린플롯 (Sepal Length)')

#%%
# 히트맵
# 'species' 열을 제외한 나머지 열들을 서브셋으로 선택
plt.figure(figsize=(8,6))
subset = iris.drop(columns=['species'])
# 상관 행렬 계산
corr = subset.corr()
sns.heatmap(corr, annot=True, cmap='coolwarm', square=True)
#annot: 각 셀에 숫자 값을 표시할지
#cmap: 히트맵의 색상 맵 'coolwarm', 'viridis', 'plasma'
plt.title('Iris 데이터의 상관관계 히트맵')

#%%
# 선 그래프 (Petal Length)
plt.figure(figsize=(8,6))
sns.lineplot(x=iris.index, y='petal_length', hue='species', data=iris)
#hue: 데이터를 구분할 기준, 색상의 다르게
plt.title('선그래프 (Petal Length)')

#%%
# 산점도
plt.figure(figsize=(8,6))
sns.scatterplot(x='sepal_length', y='sepal_width', hue='species', data=iris)
plt.title('산점도 (Sepal Length vs Sepal Width)')

In [ ]:
import matplotlib.pyplot as plt

# 데이터 생성
x = [1, 2, 3, 4, 5]
y = [2, 3, 5, 7, 11]

# 그래프 생성
plt.plot(x, y, label='데이터')
# y=4 위치에 수평선 추가
plt.axhline(y=4, color='r', linestyle='--', linewidth=2, label='y=4 기준선')

plt.title('axhline 예제')
plt.legend()

# 그래프 출력
plt.show()
#%%
import matplotlib.pyplot as plt

# 데이터 생성
x = [1, 2, 3, 4, 5]
y = [2, 3, 5, 7, 11]

# 그래프 생성
plt.plot(x, y, label='데이터')

# x=3 위치에 수직선 추가
plt.axvline(x=3, color='g', linestyle='--', linewidth=2, label='x=3 기준선')

plt.title('axvline 예제')
plt.legend()

# 그래프 출력
plt.show()

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# 데이터 로드
df = pd.read_csv('/content/mpg.csv')

# 1. 시내연비(cty)의 분포를 그려보자. KDE(커널 밀도 추정) 곡선을 함께 표시하여 데이터의 분포를 시각화한다.
plt.figure(figsize=(8,6))
sns.kdeplot(df['cty'], fill=True)
plt.title('시내연비 분포')
plt.xlabel('연비')
plt.ylabel('밀도')
plt.show()

# 2. 실린더(cyl) 수에 따른 시내연비 분포를 그려보자. 박스 플롯은 데이터의 중앙값과 사분위수를 시각화 하는데 유용하다.
plt.figure(figsize=(8,6))
sns.boxplot(x='cyl', y='cty', data=df)
plt.title('실린더 수에 따른 시내연비 분포')
plt.xlabel('실린더 수')

# 3. 구동방식(drv)에 따른 시내연비 분포를 그려보자.  바이올린 플롯은 박스 플롯과 KDE를 결합하여 데이터의 분포와 밀도를 함께보여줄 수 있다.
plt.figure(figsize=(8,6))
sns.violinplot(x='drv', y='cty', data=df)
plt.title('구동방식에 따른 시내연비 분포')
plt.xlabel('구동방식')

# 4. 연도(year)에 따른 시내연비 변화를 시각화해보자. 선 그래프는 시간에 따른 데이터의 변화를 보여주는 데 유용하다.
plt.figure(figsize=(8,6))
sns.lineplot(x='year', y='cty', data=df)
plt.title('연도에 따른 시내연비 변화')
plt.xlabel('연도')
plt.ylabel('시내연비')

# 5. 배기량(displ)과 시내연비 간의 관계를 시각화해보자. 구동방식(drv) 에따라 색상을 다르게하여 데이터의 분포를 더 잘 이해할 수 있다
plt.figure(figsize=(8,6))
sns.scatterplot(x='displ', y='cty', hue='drv', data=df)
plt.title('배기량과 시내연비의 관계')
plt.xlabel('배기량')

# 새 섹션

In [ ]:
import pandas as pd

# 예제 데이터프레임 생성
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Age': [24, 27, 22, 32, 29],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix'],
    'Salary': [70000, 80000, 65000, 120000, 110000]
}
df = pd.DataFrame(data)
print(df)

#%%
#1.조건이 1개
#나이가 25 이상인 사람들


#샐러리가 80000 이상인 사람들

#%%
#2. 여러 조건을 사용한 필터링
#나이가 25 이상이고 샐러리가 80000 이상인 사람들


#도시가 뉴욕이거나 시카고인 사람들




#%%
#기타
#도시 이름이 'New'로 시작하는 사람들
city_startswith_filter = df[df['City'].str.startswith('New')]
print(city_startswith_filter)
#이름에 'a'가 포함된 사람들
name_filter = df[df['Name'].str.contains('a', case=False)]
print(name_filter)

In [ ]:
"""unique 함수 """
import numpy as np

arr = np.array([1, 2, 2, 3, 4, 4, 5])
unique_arr = np.unique(arr)
print(unique_arr)


#%%
import pandas as pd
df = pd.DataFrame({
    'A': [1, 2, 2, 3, 4, 4, 5],
    'B': ['a', 'b', 'b', 'c', 'd', 'd', 'e']
})

unique_column = df['B'].unique()

print(unique_column)

#%%
""" 필터링 """
import pandas as pd

# 예제 데이터프레임 생성
data = {
    '이름': ['김철수', '이영희', '박민수', '최은영', '장서연'],
    '나이': [23, 21, 25, 22, 24],
    '성별': ['남', '여', '남', '여', '여'],
    '점수': [85, 90, 88, 92, 87]
}

df = pd.DataFrame(data)
print(df)

#필드명 비교연산자 조건

# 점수가 90점 이상인 학생 필터링


# 성별이 여자인 학생 필터링



# 여자이면서 나이가 23세 이상인 학생
filtered_df = df[(df['성별'] == '여') & (df['나이']>=23)]
print(filtered_df)

# 나이가 23세 이상이고 점수가 90점 이상인 학생 필터링

In [ ]:
import pandas as pd

# 첫 번째 데이터프레임
df1 = pd.DataFrame({
    'ID': [1, 2, 3, 4],
    '이름': ['김철수', '이영희', '박민수', '최은영'],
    '나이': [23, 21, 25, 22]
})

# 두 번째 데이터프레임
df2 = pd.DataFrame({
    'ID': [5, 6, 7, 8],
    '이름': ['장서연', '홍길동', '김미영', '이철호'],
    '나이': [24, 20, 27, 26]
})

print(df1)
print(df2)
# 좌우로 붙이기 (열 추가)
df = pd.concat([df1, df2], axis=1)
print(df)
# 위아래로 붙이기 (행 추가)
df = pd.concat([df1, df2], axis=0)
print(df)

#%%
import pandas as pd

# 첫 번째 데이터프레임
df1 = pd.DataFrame({
    'ID': [1, 2, 3, 4],
    '이름': ['김철수', '이영희', '박민수', '최은영'],
    '나이': [23, 21, 25, 22]
})

# 두 번째 데이터프레임
df2 = pd.DataFrame({
    'ID': [3, 4, 5, 6],
    '점수': [88, 92, 85, 90],
    '성별': ['남', '여', '여', '남']
})

print(df1)
print(df2)

#%%
# 열을 기준으로 병합하고 싶다면 merge를 사용
# ID를 기준으로 합치기 (내부 조인)
merged_df = pd.merge(df1, df2, on='ID')

print("\nID를 기준으로 합친 데이터프레임 (내부 조인):")
print(merged_df)

#%%
#인덱스를 기준으로 병합하고 싶다면 join
# ID를 인덱스로 설정
df1.set_index('ID', inplace=True)
df2.set_index('ID', inplace=True)
# join 메서드 사용
joined_df = df1.join(df2, how='inner')

print("\nID를 인덱스로 설정하고 합친 데이터프레임 (내부 조인):")
print(joined_df)

#%%
# join 메서드 사용
joined_df = df1.join(df2, how='outer')

print("\nID를 인덱스로 설정하고 합친 데이터프레임 (내부 조인):")
print(joined_df)

In [ ]:
import pandas as pd



# 1. 엑셀 파일을 읽는데, header의 3번째와 4번째 줄을 컬럼 이름으로 사용 (0부터 시작 → 4,5번째 줄)
df = pd.read_excel("학생 1인당 교육비(국·공립대, 국립대법인, 특별_2024-05-19111635153.xlsx", header=[3, 4])

# 2. 첫 번째 레벨(연도)만 추출
first_level_columns = df.columns.get_level_values(0)
print(first_level_columns)

# 3. 다중 컬럼을 첫 번째 레벨로 덮어쓰기 → 단일 컬럼으로 변환
df.columns = first_level_columns
df.head(2)

#%%
print(df.columns)
print()
print(df['학교종류'].unique())
print()
print(df['설립구분'].unique())
print()
print(df['상태'].unique())

#%%
con = (df['학교종류'] == "대학교") & ( df['상태'] != "폐교" ) & (df['설립구분'].isin([ '국립', '국립대법인', '공립']))
df1 = df[ con]
df1.head()
print(df1.columns)

#%%
df1 = df1[ ['설립구분', '지역','학교', '학생1인당 교육비\n(H=F/G)'] ]
df1 = df1.rename(columns = {'학생1인당 교육비\n(H=F/G)': '교육비' })
df1['설립구분'] = '국립'
print(df1.shape)

#%%
"""사립"""
# 1. 엑셀 파일을 읽는데, header의 3번째와 4번째 줄을 컬럼 이름으로 사용 (0부터 시작 → 4,5번째 줄)
df = pd.read_excel("학생 1인당 교육비(사립) (대학)_2024-05-19111655502.xlsx", header=[3, 4])
# 2. 첫 번째 레벨(연도)만 추출
first_level_columns = df.columns.get_level_values(0)
print(first_level_columns)
# 3. 다중 컬럼을 첫 번째 레벨로 덮어쓰기 → 단일 컬럼으로 변환
df.columns = first_level_columns
df.head(2)

#%%
print(df.columns)
print()
print(df['학교종류'].unique())
print()
print(df['설립구분'].unique())
print()
print(df['상태'].unique())

#%%
con = (df['학교종류'] == "대학교")
df2 = df[ con]
df2.head()
print(df2.columns)

#%%
df2 = df2[ ['설립구분', '지역','학교', '학생1인당\n교육비(G=E/F)'] ]
df2 = df2.rename(columns = {'학생1인당\n교육비(G=E/F)': '교육비' })
print(df2.shape)

In [ ]:
# 7주_인구동향분석(조건처리)
#pandas, matplotlib, seaborn) 으로 업종별 금액계 합계 막대 그래프를 그리는 전체 예제입니다.

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# 샘플 데이터프레임 생성
data = {
    '업종': ['식당', '카페', '미용실', '편의점', '서점', '약국', '세탁소', '식당', '카페', '약국', '편의점', '미용실'],
    '금액계': [120000, 50000, 30000, 40000, 20000, 35000, 25000, 80000, 45000, 30000, 60000, 32000]
}
df = pd.DataFrame(data)

# 업종별 금액계 합계 구하고 정렬
sum_by_category = df.groupby('업종')['금액계'].sum()
plt.rc("font", family="Malgun Gothic")  # 한글 폰트 설정

# 1. Pandas plot(kind='bar')
plt.figure(figsize=(10, 5))
sum_by_category.plot(kind='bar')

# 2. Matplotlib plt.bar(x, y)

# x축: 업종 이름, y축: 금액합
x = sum_by_category.index
y = sum_by_category.value
plt.figure(figsize=(10, 5))
plt.bar(x, y)

# 3. Seaborn sns.barplot with estimator=np.sum
#ci는 표준편차를 보여주는 것임.
plt.figure(figsize=(10, 5))
sns.barplot(data=df, x='업종', y='금액계', estimator=np.sum, ci=None)

In [ ]:
import pandas as pd

# 예제 데이터프레임 생성
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank', 'Grace', 'Hank', 'Ivy', 'Jack'],
    'Age': [24, 27, 22, 32, 29, 24, 27, 32, 22, 29],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix', 'New York', 'Los Angeles', 'Houston', 'Chicago', 'Phoenix'],
    'Salary': [70000, 80000, 65000, 120000, 110000, 75000, 85000, 125000, 70000, 115000]
}
df = pd.DataFrame(data)
print(df)

#%%
#단일 컬럼으로 그룹화
#도시별 샐러리 평균 구하기
city_salary_mean = df.groupby('City')['Salary'].mean()
print(city_salary_mean)

#도시별 나이의 최대값 구하기
#%%
#여러 컬럼으로 그룹화
#도시별 나이와 샐러리의 평균 구하기

#%%
#여러 집계 함수를 동시에 적용
#도시별 샐러리의 합계와 평균 구하기
city_salary_agg = df.groupby('City')['Salary'].agg(['sum', 'mean'])
print(city_salary_agg)

In [ ]:

# 도시별 샐러리 평균 구하기
city_salary_mean = df.groupby('City')['Salary'].mean()

#도시별 나이의 최댓값
city_age_max = df.groupby('City')['Age'].max()


# %%
# 여러 컬럼으로 그룹화
# 도시별 나이와 샐러리 평균 구하기
city_age_salary_mean = df.groupby('City')[ ['Age', 'Salary'] ].agg(['mean', 'max', 'sum'])
#
print(city_age_salary_mean)

In [ ]:
# 피타고라스 함수 정의
def pytha(a, b):
  c = (a**2 + b**2) ** 0.5
  d = a + b
    return c, d

#    def 함수명 :
#    명령어
#    return 반환값

In [ ]:
import matplotlib.pyplot as plt

# 데이터 생성
x = [1, 2, 3, 4, 5]
y = [2, 3, 5, 7, 11]

# 그래프 생성
plt.plot(x, y, label='데이터')
# y=4 위치에 수평선 추가
plt.axhline(y=4, color='r', linestyle='--', linewidth=2, label='y=4 기준선')

plt.title('axhline 예제')
plt.legend()

# 그래프 출력
plt.show()
#%%
import matplotlib.pyplot as plt

# 데이터 생성
x = [1, 2, 3, 4, 5]
y = [2, 3, 5, 7, 11]

# 그래프 생성
plt.plot(x, y, label='데이터')

# x=3 위치에 수직선 추가
plt.axvline(x=3, color='g', linestyle='--', linewidth=2, label='x=3 기준선')

plt.title('axvline 예제')
plt.legend()

# 그래프 출력
plt.show()

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

# 데이터셋 로드
iris = sns.load_dataset("iris")

# 히스토그램
plt.figure(figsize=(8,6))
sns.histplot(iris['sepal_length'], bins=15, kde=True)
plt.title('히스토그램 (Sepal Length)')
#%%
# 박스 플롯
plt.figure(figsize=(8,6))
sns.boxplot(x='species', y='sepal_length', data=iris)
plt.title('박스플롯 (Sepal Length)')
#%%
# 바이올린 플롯
plt.figure(figsize=(8,6))
sns.violinplot(x='species', y='sepal_length', data=iris)
plt.title('바이올린플롯 (Sepal Length)')

#%%
# 히트맵
# 'species' 열을 제외한 나머지 열들을 서브셋으로 선택
plt.figure(figsize=(8,6))
subset = iris.drop(columns=['species'])
# 상관 행렬 계산
corr = subset.corr()
sns.heatmap(corr, annot=True, cmap='coolwarm', square=True)
#annot: 각 셀에 숫자 값을 표시할지
#cmap: 히트맵의 색상 맵 'coolwarm', 'viridis', 'plasma'
plt.title('Iris 데이터의 상관관계 히트맵')

#%%
# 선 그래프 (Petal Length)
plt.figure(figsize=(8,6))
sns.lineplot(x=iris.index, y='petal_length', hue='species', data=iris)
#hue: 데이터를 구분할 기준, 색상의 다르게
plt.title('선그래프 (Petal Length)')

#%%
# 산점도
plt.figure(figsize=(8,6))
sns.scatterplot(x='sepal_length', y='sepal_width', hue='species', data=iris)
plt.title('산점도 (Sepal Length vs Sepal Width)')

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
#Q. 한글 설정
plt.rc("font", family="gulim")

#Q 인구동향 파일 읽기, 0,1이 헤더
try:
    df = pd.read_excel('/content/월.분기.연간_인구동향_출생_사망_혼인_이혼__20240630154650.xlsx', header =[0, 1], encoding = 'utf-8')
except UnicodeDecodeError:
    df = pd.read_excel('/content/월.분기.연간_인구동향_출생_사망_혼인_이혼__20240630154650.xlsx', header =[0, 1], encoding = 'cp949')


# 열 확인 #
print(df.columns)

#

tempdf = df[[('행정구역별(1)', '행정구역별(1)'),
      (    '2018',  '출생아수(명)'),
      (     '2018',  '사망자수(명)'),
      (     '2018',  '혼인건수(건)'),
     (    '2018',  '이혼건수(건)')]]
tempdf.columns = ['지역', '출생아수(명)', '사망자수(명)', '혼인건수(건)', '이혼건수(건)']
tempdf['year'] = 2018

#Q 위 내용을 함수 makeDF로 만들기
def makeDF(year) :
  tempdf = df[[('행정구역별(1)', '행정구역별(1)'),
      (    str(year),  '출생아수(명)'),
      (     str(year),  '사망자수(명)'),
      (     str(year),  '혼인건수(건)'),
     (    str(year),  '이혼건수(건)')]]
  tempdf.columns = ['지역', '출생아수(명)', '사망자수(명)', '혼인건수(건)', '이혼건수(건)']
  tempdf['year'] = year
  return tempdf

#%%
#반복문으로 2018 ~ 2022까지 호출해서 하나의 DF 연결하기
dfs = makeDF(2018)

#Q 들어갈 숫자는
for y in range(2019, 2023) :
    dfs = pd.concat([dfs, makeDF(y)]) #데이터프레임을 물리적으로 연결

print(dfs.head())


#%%
# 행인덱스 재설정 Q 이유를 생각해보자
dfs.reset_index(drop=True)
# 행인덱스 재설정 : 최종 확정
dfs.reset_index(drop=True, inplace=True)
print(dfs)

#%%
# df.info()

#%%
print(dfs['지역'].unique())
# 지역별 카운트
print(dfs['지역'].value_counts())


#%%
"""# 조건식: () & () """
#1.
#Q  2021년 '서울특별시', '부산광역시', '제주특별자치도' 중 하나인 데이터
# df 조건식으로
con = (dfs['year'] == 2021) & (dfs['지역'].isin(['서울특별시', '부산광역시', '제주특별자치도']))
print(dfs[con])

# query
df2 = dfs.query('지역 == "서울특별시" or 지역 == "부산광역시" or 지역 == "제주특별자치도"')
print(df2)
#%%



"""# 분석1 : 연도별 전국 자료"""
df1 = dfs.query('지역 == "전국"')
print(df1)

# Q '자연증가수'  계산 출생아수 - 사망자수
df1['자연증가수'] = df1['출생아수(명)'] - df1['사망자수(명)']
print(df1)

# 연도별 인구동향 : 두축에 표시 전
#Q. 출생아수, 사망자수는 선그래프, 자연증가수는 막대그래프 그리기
plt.subplots(figsize=(8, 4))
plt.plot(df1.year, df1['출생아수(명)'], 'b--*', label='출생')
plt.plot(df1.year, df1['사망자수(명)'], 'g..x', label='사망')


plt.legend()
plt.title('연도별 인구동향')
plt.show()

#%%
# 연도별 인구동향 : 두축에 표시(subplots 축을 나누는 것)

fig, ax1 = plt.subplots(figsize=(8, 4))
ax1.plot(df1.year, df1['출생아수(명)'], 'b--o', label='출생아수')
ax1.plot(df1.year, df1['사망자수(명)'], 'g--o', label='사망자수')
plt.legend()
plt.title('연도별 인구동향')

ax2 = ax1.twinx()   #y축을 복사해서 한개더 생성
ax2.plot(df1.year, df1['자연증가수'], 'r-x')

plt.grid(alpha=0.5)
plt.show()

#%%
"""# 분석2   전국이 아닌 자료 추출"""
df2 = dfs.query('지역 != "전국"')
print(df2)

#%%

import seaborn as sns
#Q df2에서 혼인건수와 출생아수 관계를 산점도로
sns.scatterplot(x='혼인건수(건)', y='출생아수(명)', data=df2)
plt.title('혼인건수와 출생아수 관계')
plt.show()
#%%
# 혼인건수와 출생아수 관계 분석2
import seaborn as sns
#Q df2에서 혼인건수와 출생아수 관계를 연도별 산점도로
sns.scatterplot(x='혼인건수(건)', y='출생아수(명)', hue='year', data=df2)
plt.title('혼인건수와 출생아수 관계')
plt.show()

#%%
# 혼인건수와 출생아수 관계 분석2
import seaborn as sns
df2['year'] = df2['year'].astype(str)  #범주를 str로 수정 시 색상이 바뀜
sns.scatterplot(x='혼인건수(건)', y='출생아수(명)', hue='year', data=df2)
plt.title('혼인건수와 출생아수 관계')
plt.show()

#%%
# 세로 막대
#Q df2 지역별 출생아수를 세로막대로
sns.barplot(x='지역', y='출생아수(명)', data=df2)
plt.xticks(rotation=90)
plt.title('지역별 출생아수 평균')
plt.show()


#%%

#  가로 막대
#Q df2 지역별 출생아수를 세로막대로
sns.barplot(y='지역', x='출생아수(명)', data=df2)
plt.title('지역별 출생아수 평균')
plt.show()

#%%
# Q 출생아수를 내림차순으로 정렬해서 dfs 에 저장
dfs = dfs.sort_values('출생아수(명)', ascending=False)
sns.barplot(y='지역', x='출생아수(명)',data=dfs)
plt.title('정렬된 지역별 출생아수 평균')
plt.show()

#%%
"""#분석3 : 지역별 출생아/사망자수의 평균"""
dfg = df2.groupby(['지역']).mean()
print(dfg)

print(dfg[['출생아수(명)', '사망자수(명)']].sort_values('출생아수(명)', ascending=False))
dfg[['출생아수(명)', '사망자수(명)']].sort_values('출생아수(명)', ascending=False).plot.bar()
plt.show()